.Main {
    flex: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

/* line 8 to 29 are user icon popping styles */
.user-icon {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 1;
  }
  
  /* When clicked, make it huge and center it */
  .center-pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(9); /* center + enlarge */
    z-index: 999;
    transition: transform 0.4s ease;
    width: 100px;
    height: 50px;
    border-radius: 50%;
  }
  

.Main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 29px;
    padding: 19px;
    color: #2e5266ff;
}

.Main .nav img {
    width: 49px;
    border-radius: 50%;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.Main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.Main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    background-clip: text;
    /*-webkit-background-clip: text; THIS CAUSED YELLOW LINE IN CSS
    SO I MADE (background-clip: text;)*/
    -webkit-text-fill-color: transparent;
}

.Main .card-box{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 20px;
    padding: 20px;
}

.Main .card {
    height: 179px;
    padding: 15px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.Main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: rgba(225, 225, 225, 0.825);
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.Main .card p{
    color: #595959;
    font-size: 18px;
}

.Main .card:hover{
    background-color: rgba(159, 177, 188, 0.616);
}

.Main-bottom{
    position: absolute;
    bottom: 4px;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(159, 177, 188);
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.Main .bottom-info{
    font-size: 12px;
    margin: 15px auto;
    text-align: center;
    font-weight: 299;
}

.result {
    padding:0px 5px;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img{
    width: 44px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 18px;
}


.l {
    font-weight: 360;
    font-size: 18px;
    margin-left: 46px;
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 0.2s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }
  
  .o {
    font-weight: 360;
    font-size: 18px;
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 0.4s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }
  
  .a {
    font-weight: 360;
    font-size: 18px;
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 0.6s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }
  
  .d {
    font-weight: 360;
    font-size: 18px;
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 0.8s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }
  
  .i {
    font-weight: 360;
    font-size: 18px;
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 1s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }
  
  .n {
    font-weight: 360;
    font-size: 18px;
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 1.2s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }
  
  .g {
    font-weight: 360;
    font-size: 18px;
    color: black;
    opacity: 0;
    animation: pass 2s ease-in-out infinite;
    animation-delay: 1.4s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }
  
  
  .d1 {
    color: black;
    opacity: 0;
    animation: pass1 2s ease-in-out infinite;
    animation-delay: 1.6s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }
  
  .d2 {
    color: black;
    opacity: 0;
    animation: pass1 2s ease-in-out infinite;
    animation-delay: 2s;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #919191;
  }
  
  @keyframes pass {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes pass1 {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
.result-data{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width:600px) {
    .Main-bottom input{
        flex: none;
        width: 150px;
    }
    .Main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}